<!DOCTYPE html>
<html lang="en">
{% include 'headers.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {%include 'search.html'%}
        <table class="table table-bordered table-hover table-success">
            <th>Unique Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Biography</th>
            {%for author in authors["authors"]%}
            <tr>
                <td>
                    {{author.id}}
                </td>
                <td>
                    {{author.name}}
                </td>
                <td>
                    <img src="http://localhost:5000/getAuthorPhoto?id={{author.id}}" alt="{{author.name}}" class="img-author">
                </td>
                <td>
                    {{author.bio}}
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>