    <!DOCTYPE html>
    <html lang="en">

    {% include 'headers.html' %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="mb-3">
        <span class="text-danger">{{ message }}</span>
    </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <body>
        {%include 'navbar.html'%}
        <div class="container">
            {%include 'search.html'%}
            <table class="table table-bordered table-hover table-success">
                <th>Book Id</th>
                <th>Name</th>
                <th>Book Type</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Publishing Year</th>
                <th>PDF (Download)</th>
                {%for book in books["books"]%}
                <tr>
                    <td>
                        {{book.id}}
                    </td>
                    <td>
                        {{book.name}}
                    </td>
                    <td>
                        {{book.topic}}
                    </td>
                    <td>
                        {{book.author}}
                    </td>
                    <td>
                        {{book.publisher}}
                    </td>
                    <td>
                        {{book.year}}
                    </td>
                    <td>
                        <a href={{book.url}}+>Download</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </body>
{%include 'footer.html'%}
    </html>