{%include 'navbar.html'%}
{%include 'headers.html'%}
<div class="container">
    <h2>Change Password</h2>
    <form method="post" action="/changePassword">
        <div class="mb-3">
            <label for="email" class="form-label">Email:<span class="text-danger">*</span></label>
            <input type="email" class="form-control" id="email" name="email" required minlength="2" maxlength="50">
            <div class="invalid-feedback">Please enter a valid email.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:<span class="text-danger">*</span></label>
            <input type="password" class="form-control" id="password" name="password" required minlength="2"
                maxlength="50">
            <div class="invalid-feedback">Please enter in a required range.</div>
        </div>
        <button type="submit" class="btn btn-danger">Sign In</button>
    </form>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="mb-3">
    <span class="text-danger">{{ message }}</span>
</div>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>