<div class="container">
    <span class="text-danger h3"><span class="text-secondary">Sign in</span> as {{usertype}}</span>
    <form class="needs-validation" method="post" validate action="/api/login">
        <div class="mb-3">
            <label for="uname" class="form-label fw-bold text-secondary">Username<span
                    class="text-danger">*</span></label>
            <input type="text" class="form-control" id="uname" name="userName" required>
            <!-- <div id="helpName" class="form" -->
        </div>
        <div class="mb-3">
            <label for="passwd" class="form-label fw-bold text-secondary">Password<span
                    class="text-danger">*</span></label>
            <input type="password" class="form-control" id="passwd" name="passwd" required>
        </div>
        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" name="remember" id="remember">
            <label class="form-check-label text-success" for="remember">Remember me</label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
    </form>
    <div>
        <p class="text-dark">Are you new Here? If Yes then Please Register</p>
        <a href="#" class="link-dark link-offset-3 link-underline-success link-underline-opacity-10">Signup</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="mb-3">
        <span class="text-danger">{{ message }}</span>
    </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>